* text=auto eol=lf
*.py text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.lock text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.woff2 binary
